# env data
.myenv

# mediafiles
/app/media/logos/*
/app/media/club_photoes/*
/app/media/user_photoes/*

# file for development on local
__PLAN__.txt
typical_commands.txt
hours.txt

# logs
/app/logs/*
django_log.log

# etc
*.pyc

# temporary database for local development, debugging
db.sqlite3