# project core
Django == 5.0.4
psycopg2==2.9.3
djangorestframework==3.15.1
adrf==0.1.6

# for auth
djangorestframework-simplejwt==5.3.1

# for working with ENV
python-dotenv==1.0.0

# OPENAPI / Swagger
drf-spectacular==0.27.2
drf-spectacular-sidecar

# customize admin-panel
django-adminlte-3==0.1.6

# CORS
django-cors-headers==4.3.1

# Telegram Bot
aiogram==3.6.0

# for images in Admin panel
Pillow==10.1.0

# additional libs
pytz # don't need version